{% block content %} 
    <div class="row mar-left mar-right">
      <div class="large-12 columns">
        <header>
          <div class="logo">
            <img src="assets/img/inc_logo.jpg" alt="logo">
          </div>
          <nav class="main">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Speakers</a></li>
              <li><a href="#">Trade Show</a></li>
              <li><a href="#">Convocatorias</a></li>
              <li><a href="#">Noticias</a></li>
              <li><a href="#">Network</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
            <div class="wrp-tickets">
              <select name="pais" id="pais">
                <option value="Mexico">Mexico</option>
              </select>
              <div class="boletos">
                <input type="button" value="BOLETOS" class="boleto">
              </div>
            </div>
          </nav>
        </header>
      </div>
    </div><!--End of Header-->
    <div class="agenda">
      <div class="row">
        <div class="large-12 columns text-center">
          <h1><b>Agenda</b> 2015</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fuga, minus sint tempora veniam autem mollitia assumenda id enim hic quidem voluptatum ipsa, molestias modi porro pariatur cupiditate rerum velit?</p>
        </div>
      </div>
    </div><!--End of agenda-->
    <div class="row">
      <div class="large-12 columns">
        <div class="tabs-date">
          <ul>
            <li>todos</li>
            <li>20 nov</li>
            <li>21 nov</li>
            <li>22 nov</li>
          </ul>
        </div>
      </div>
    </div><!--End of row tabs-date-->
    <div class="row">
      <div class="large-12 columns">
        <table id="agenda" class="display" cellspacing="0" width="100%">
          <tbody>
            <tr><td>sponsored</td></tr>
            <tr>
              <td>8:00 - 9:00</td>
              <td><span class="te">te</span></td>
              <td>Workshop Design Thinking</td>
              <td><span><img src="assets/img/user.jpg" alt="user-icon">Expositor: Lic Danielha María Pereyda Pierre</span><br>
                <ul>
                  <li><span><img src="assets/img/location.jpg" alt="loation-icon">Recinto: Salón 203</span></li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
{% endblock %}